@page

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6 row">
            <div class="col-4">
                <label for="userInput" class="col-form-label">User</label>
            </div>
            <div class="col-8">
                <input type="text" id="userInput" class="form-control" />
            </div>

            <div class="col-4">
                <label for="messageInput" class="col-form-label">Message</label>
            </div>
            <div class="col-8">
                <input type="text" id="messageInput" class="form-control" />
            </div>

            <div class="col-12">
                <input type="button" id="sendButton" value="Send Message" class="btn btn-primary float-right bg-success" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <div class="card card-header">
                Chat
            </div>
            <div class="card card-body">
                <div class="row" id="messagesList"></div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/ChatHub.js"></script>
